#container {
	display: flex;
}
#configurator {
	flex: 0 0 40%;
	width: 40%;
	background-color: #F1F1F1;
	text-align: center;
	margin-right: 10px;
}
#wheels {
	display: inline;
}
#transmissionList {
	flex: 1;
	width: 40%;
	background-color: #F1F1F1;
	text-align: center;
	margin-left: 10px;
}
#transmissions {
	float: center;
	border: 1px solid black;
}
#transmissions table, th, td {
	text-align: center;
	border: 1px solid black;
}
#transmissions table {
	border-collapse: collapse;
}
label {
	font-family: Arial;
}
h2 {
	font-family: Arial;
}